@media (max-width: 768px) {
     .container {
        max-width: 790px;
        overflow-x: auto;
    }

    .text {
        font-size: 12px;
        line-height: 16px;
    }

    .header__container {
        justify-content: center;
    }

    .search {
        display: none;
    }

    .modal__title, .modal__descr {
        padding: 0 15px;
    }

    .contacts__all {
        padding: 15px;
    }

    .modal__content {
        max-width: 80%;
    }

    .choices {
        width: 50%;
    }
} 